[project]
	description = LibrePilot source code
	state = read only
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group github/librepilot/Admin
	owner = group user/a*morale (AlessioMorale)
[access "refs/for/refs/*"]
	read = group user/a*morale (AlessioMorale)
	push = group user/a*morale (AlessioMorale)
	label-Code-Review = -2..+2 group user/a*morale (AlessioMorale)
	label-Verified = -1..+1 group user/a*morale (AlessioMorale)
	rebase = group user/a*morale (AlessioMorale)
	removeReviewer = group user/a*morale (AlessioMorale)
	submit = group user/a*morale (AlessioMorale)
[access "refs/heads/*"]
	read = group user/a*morale (AlessioMorale)
	create = group user/a*morale (AlessioMorale)
	push = +force group user/a*morale (AlessioMorale)
	pushMerge = group user/a*morale (AlessioMorale)
[access "refs/tags/*"]
	push = +force group user/a*morale (AlessioMorale)
	pushTag = group user/a*morale (AlessioMorale)
	pushSignedTag = group user/a*morale (AlessioMorale)
[submit]
	action = merge always
