[Desktop Entry]
Version=0.1.0
Encoding=UTF-8
Name=LibrePilot GCS
Exec=librepilot-gcs
TryExec=librepilot-gcs
Comment=Configure, Tune, Diagnose, Track, & Upgrade FW for LibrePilot solutions
Terminal=false
Categories=Utility;Robotics;Engineering;
Icon=librepilot
Type=Application
